<section>
    <div id="subscription-nav">
        <h2>Subscriptions</h2>

        <ul id="folderContainer" class="nobullet"></ul>
        <ul id="feedContainer" class="nobullet"></ul>
    </div>
</section>

<script type="text/javascript">
    $(function ($) {
        $.ajax({
            url: '/api/folder'
        }).done(function (data) {
            console.log(data);
            $('#folderTemplate').tmpl(data.folders).appendTo('#folderContainer');
            $('#feedTemplate').tmpl(data.feeds).appendTo('#feedContainer');

            $('li.folder > ul').toggle();

            $('.expander').click(function () {
                $(this).next('li.folder').children('ul').toggle();

                console.log($(this).text());

                if ($(this).text() == '+') {
                    $(this).text('-');
                } else {
                    $(this).text('+');
                }
            });
        });
    });
</script>

<script id="folderTemplate" type="text/x-jQuery-tmpl">
    <a href="#" class="expander">+</a>
    <li class="folder TODO:unread"><a href="/home/folder/${id}">${name} (TODO: count)</a>
        <ul class="nobullet">
            {{each feeds}}
        <li class="feed TODO:unread"><a href="/home/feed/${id}">${name} (TODO: count)</a></li>
            {{/each}}
        </ul>
    </li>
</script>

<script id="feedTemplate" type="text/x-jQuery-tmpl">
    <li class="feed TODO:unread"><a href="/home/feed/${id}">${name} (TODO: count)</a></li>
</script>
