<section>
    <div id="subscription-nav">
        <h2>Subscriptions</h2>

        <ul id="folderContainer" class="nobullet" data-bind="template: { name: 'folderTemplate', foreach: folders }"></ul>
        <ul id="feedContainer" class="nobullet" data-bind="template: { name: 'feedTemplate', foreach: feeds }"></ul>
    </div>
</section>

<script id="folderTemplate" type="text/x-jQuery-tmpl">
    <a href="#" class="expander">+</a>
    <li class="folder ${unreadClass}">
        <a id="${id}" class="ajax"
            data-command="folder"
            data-commandargument="${id}">${name} (${itemCount})</a>
        <ul class="nobullet">
            {{each items}}
            <li class="feed ${unreadClass}">
                <a id="${id}" class="ajax"
                    data-command="feed"
                    data-commandargument="${id}">${name} (${itemCount})</a></li>
            {{/each}}
        </ul>
    </li>
</script>

<script id="feedTemplate" type="text/x-jQuery-tmpl">
    <li class="feed ${unreadClass}"><a id="${id}" class="ajax"
        data-command="feed"
        data-commandargument="${id}">${name} (${itemCount})</a></li>
</script>

