<header>
    <h1>
        <a href="~/">Stream</a>
    </h1>
</header>

<div id="body">
    <section>
        <ul id="stream" class="nobullet"></ul>
    </section>
</div>

<script type="text/javascript">
    $(function ($) {
        $.ajax({
            url: '/api/stream'
        }).done(function (data) {
            console.log(data);
            $('#itemTemplate').tmpl(data).appendTo('#stream');
        });
    });
</script>

<script id="itemTemplate" type="text/x-jQuery-tmpl">
    <li class="item TODO:unread">
        <div>
            <a href="/home/feed/${feedId}">${feedName}</a>
        </div>
        <div>
            <a href="/home/item/${id}"><strong>${name}</strong> (${publishedDateTime})</a>
        </div>
        <hr />
    </li>
</script>
