<header>
    <h1>
        <a href="~/">RSS Feeds</a>
    </h1>
</header>

<div id="body">
    <section>
        <div class="content-wrapper">
            @{ Html.RenderPartial("Subscriptions"); }
        </div>
    </section>
</div>

