@{
    ViewBag.Title = "System";
}

<h2>Index</h2>

@*<p>
    <a href="/api/opml/import">Import OPML</a>
</p>*@

<ul>
    <li><a href="/api/refresh">Refresh Feeds</a></li>
    <li><a href="/system/addfeed">Add Feeds</a></li>
</ul>

