html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 20px;
}

a {
    color: #33F;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #33F;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

ul.nobullet {
    list-style: none;
}

.expander {
    float: left;
}

.item h3 {
    display: inline;
}

.unread {
    font-weight: 600;
}

.read {
    font-weight: 300;
}


#notification-container {
    margin: 0 auto;   
}
#notification {
    position: absolute;
    top: 30px;
    left: 32%;
    width: 33%;
    border: 1px solid yellow;
    padding: 10px;
    background: rgb(255, 255, 210);
}

#subscription-nav { width: 290px;}