html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 20px;
}

h1{ font-size: 1.4em;}
h2{ font-size: 1.4em;}
h3{ font-size: 1.1em;}

a {
    color: #33F;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #33F;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

ul.nobullet {
    list-style: none;
}

.item h3 {
    display: inline;
}

.unread {
    font-weight: 900;
}

.read {
    font-weight: 300;
}

.clear { clear: both;}

header nav ul li { float: left; }


#notification-container {
    margin: 0 auto;   
}
#notification {
    position: absolute;
    top: 30px;
    left: 32%;
    width: 33%;
    border: 1px solid yellow;
    padding: 10px;
    background: rgb(255, 255, 210);
}


.item { max-width: 800px; margin-bottom: 20px;}
.item .tagline { font-weight: lighter;font-size: smaller;color: #777;}
.item .tagline a { color:  #777;}
.item .tagline a:hover { color:  #33f;}

#subscriptions { float: left; min-width: 300px; height: 100%}
#panel { float: left;}
